.files-viewer {
  background-color: $black;
  // @todo Uncomment this
  //display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;

  .icon {
    background-color: $pink-1;
  }

  .carousel {
    // @todo Can we use flexbox for this?
    height: calc(100% - 2.5rem);

    .carousel-control-prev,
    .carousel-control-next {
      width: 50%;
    }

    .carousel-inner {
      height: 100%;

      .carousel-item {
        height: 100%;

        figure {
          //height: 100%;
        }

        figcaption {
          @extend .visually-hidden;
        }
      }
    }
  }
}