.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin: 0.75rem;

  &:hover, &:focus {
    background-color: $cta-active-color;
  }
}

.icon-language {
  background-image: $icon-language-url;

  &:hover, &:focus {
    background-image: $icon-language-active-url !important;
  }
}

.icon-menu {
  background-image: $icon-menu-url;

  &:hover, &:focus {
    background-image: $icon-menu-active-url !important;
  }
}

.icon-search {
  background-image: $icon-search-url;

  &:hover, &:focus {
    background-image: $icon-search-active-url !important;
  }
}