.icon {
  display: inline-block;
  width: 2.5rem !important;
  height: 2.5rem !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
  box-sizing: content-box;

  &:hover {
    background-color: $cta-active-color;
  }
}

.icon-language {
  background-image: $icon-language-url;

  &:hover, &:focus {
    background-image: $icon-language-active-url !important;
  }
}

.icon-menu {
  background-image: $icon-menu-url;

  &:hover, &:focus {
    background-image: $icon-menu-active-url !important;
  }
}

.icon-search {
  background-image: $icon-search-url;

  &:hover, &:focus {
    background-image: $icon-search-active-url !important;
  }
}

.icon-link {
  background-image: $icon-link-url;

  &:hover, &:focus {
    background-image: $icon-link-active-url !important;
  }
}