.icon {
  display: inline-block;
  width: 2.5rem !important;
  height: 2.5rem !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
  box-sizing: content-box;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 2rem;

  &:hover {
    background-color: $cta-active-color;
  }
}

.icon-close {
  mask-image: $icon-close-url;
}

.icon-language {
  background-image: $icon-language-url;

  &:hover, &:focus {
    background-image: $icon-language-active-url !important;
  }
}

.icon-menu {
  background-image: $icon-menu-url;

  &:hover, &:focus {
    background-image: $icon-menu-active-url !important;
  }
}

.icon-search {
  background-image: $icon-search-url;

  &:hover, &:focus {
    background-image: $icon-search-active-url !important;
  }
}

.icon-link {
  background-image: $icon-link-url;

  &:hover, &:focus {
    background-image: $icon-link-active-url !important;
  }
}

.icon-previous {
  mask-image: $icon-previous-url;
}

.icon-next {
  mask-image: $icon-next-url;
}

.icon-info {
  mask-image: $icon-info-url;
}

.icon-download {
  mask-image: $icon-download-url;
}

.icon-fullscreen {
  mask-image: $icon-fullscreen-url;
}

.icon-loading {
  mask-image: $icon-loading-url;
}