.navbar-brand {
  text-decoration: none;
}

.nav-link {
  text-decoration: none;

  &:visited {
    color: $link-color;
  }

  &.active {
    box-shadow: -0.2rem 0 $link-active-color;
    color: $link-active-color;
  }
}

@include media-breakpoint-up(lg) {
  .navbar .nav-link.active {
    box-shadow: 0 0.2rem $link-active-color;
  }
}
