.navbar-brand {
  color: #333 !important;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;

  &:visited {
    color: $link-color;
  }

  &.active {
    box-shadow: 0 0.2rem $link-active-color;
    color: $link-active-color;
  }
}