$green-1: #F8FAFA;
$green-2: #E9EFEE;
$green-3: #CAD7D6;
$green-4: #ACC1BE;
$green-5: #8DABA7;
$green-6: #6C928D;
$green-7: #4B7973;
$green-8: #336861;
$green-9: #24544E;
$green-10: #1B3F3A;

$pink-1: #FFF8FC;
$pink-2: #FFE7F3;
$pink-3: #FFC4E1;
$pink-4: #FF9FCF;
$pink-5: #FF75BA;
$pink-6: #DF5C9D;
$pink-7: #B64B80;
$pink-8: #9A3F6C;
$pink-9: #7B3357;
$pink-10: #5D2641;

$grey-1: #FAFAFA;
$grey-2: #EEEEEE;
$grey-3: #D5D5D5;
$grey-4: #BDBDBD;
$grey-5: #A5A5A5;
$grey-6: #8B8B8B;
$grey-7: #717171;
$grey-8: #5F5F5F;
$grey-9: #4C4C4C;
$grey-10: #383838;

$primary: $green-10;
$navbar-light-brand-color: $grey-10;
$navbar-light-brand-hover-color: $grey-10;
$navbar-light-active-color: $grey-10;
$body-color: $grey-10;
$body-bg: $pink-1;
$cta-color: $pink-7;
$cta-active-color: $pink-4;
$link-color: $primary;
$link-hover-color: $primary;
$link-active-color: $green-8;
$card-cap-bg: $body-bg;
$card-title-color: $green-10;
